<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/styles/app.css" />
    <title>Outage Checker</title>
  </head>
  <body ng-app='outage-checker'>
    <div ng-controller='formController'>
      <input type='text' ng-model='url' name='url' placeholder='Enter URL'></input>
      <button ng-click='submit(url)'>Submit</button>
      <br>
      <span>{{up}}</span>
    </div>
    <script src="/angular/angular.js"></script>
    <script src='App/app.js'></script>
    <script src='App/services.js'></script>

  </body>
</html>
